* {
    margin: 0;
    padding: 0; 
}

.question {
    display: none;
}
.none {
    display: none;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    margin-bottom:20px;
    text-align: center;
}

.pagination a {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-decoration: none;
    background: #fff;
    color: rgba(3, 3, 3,0,.125);
    margin: 0 5px 5px 0;
}

.pagination a:hover {
    background: #eee;
}

.pagination > a.nav-active {
    background: rgba(0,0,0,.09);
    color: rgb(3, 3, 3);
    border-color: rgba(0,0,0,.125);
    cursor: default;
}
/*.tradio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-decoration: none;
    word-wrap: break-word;

}
.tdiv {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}*/
.tradio {
    text-decoration: none;
    width: 100%;
    word-wrap: break-word;
    display: block;
  }
.tdiv {
    padding: 5px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 6px 12px;
  }
